<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home-game/style-animation.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>MathX</title>
</head>
<body>
    
    <div class="container">
        <div id="box-move">
            <img id="animation-main" src="image/home-game/Logo-MathX.png" alt="">
        </div>
        <div id="box-play">
            <input id="button-play" type="image" formaction="nivel01" src="image/home-game/play-button.png">
        </div>
    </div>
    
<script src="js/home-game/operação-soma/home-game.js"></script>
</body>
</html>