<%- contentFor('main') %>
<div id="box-carousel">
    <div id="carousel">
    </div>
</div>
<div id="download">
    <a id="button-Download" class="btn btn-primary btn-lg" href="/acess">Download</a>
    <a id="button-Download" class="btn btn-primary btn-lg" href="/acess">Jogar Agora</a>
</div>