<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel 03</title>
    <link rel="stylesheet" href="/css/Jogo da Memoria/03/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>    
   <!-- Sidebar -->
<div id="nav-bar" class="w3-sidebar w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item">Fases</h3>
    <a href="#" class="w3-bar-item">Nível 1</a>
    <a href="#" class="w3-bar-item">Nível 2</a>
    <a href="#" class="w3-bar-item">Nível 3</a>
</div>
<div class="container">
    <div id="memoria"></div>
</div>
<div class="bg-modal">
    <div class="modalContent">
        <div class="fechar">+</div>
            <marquee behavior="" direction="right"><img class="character" src="/image/cards/_sheep.gif" alt=""></marquee>
        <div class="box">
            <p>Parabéns !!! Você concluiu o Jogo da Memoria :)</p>
            <a href="/jogoMemoria03" class="btn btn-info">Jogar Novamente</a>
            <a id="closeWindow" class="btn btn-info">Voltar</a>
        </div>
    </div>
</div>
<!-- <script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script> -->
<script src="/js/Jogo da Memoria/03/funcoes.js"></script>
</body>
</html>