<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os Números e as Operações</title>
    <link rel="stylesheet" href="/css/numeros-operações/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="box">
        <h3> Bem vindo(a)! <h6>Nessa fase introdutoria, você irá conhecer os Números e as Operações. 
            Sugerimos ao orientador/professor(a) que acompanhe a criança durante essa e todas as 
            outras fase. </h6></h3>
           <!--Slide box--> 
           <div class="slider">
     
               <a id="slide-1" href="#slide-box-1">1</a>
       
               <a id="slide-2" href="#slide-box-2">2</a>
             
               <a id="slide-3" href="#slide-box-3">3</a>
             
               <a id="slide-4" href="#slide-box-4">4</a>
             
               <div id="slide-box-1">
                   <h5>Aqui você pode conhecer os números de 1 a 9</h5>
                <div id="slides-one" class="slides"></div>
               </div>
               <div id="slide-box-2">
                <h5>Agora você pode observar a representação de 1 a 9 nos dedos</h5>
                <div id="slides-two" class="slides"></div>
               </div>
               <div id="slide-box-3">
                <h5>A seguir temos as 4 operações que usaremos a seguir</h5> 
                <div id="slides-three" class="slides"></div>
               </div>
               <div id="slide-box-4">
                <h5>Conheça a história dos números</h5>
                <div id="slides-four" class="slides">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/44hnDuUNb98" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
               </div>
            </div>   
    </div>
      
<script src="/js/numeros-operações/script.js"></script>
</body>
</html>