<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os Números e as Operações</title>
    <link rel="stylesheet" href="/css/numeros-operações/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="container" id="C-Menu">
        <div id="menuS"><h4>Os números</h4></div>
    </div>
    <div class="container" id="C-numeros">
        <!--Slide box--> 
        <div class="box">
            
        </div>
    </div>
    <div class="container" id="C-Menu">
        <div id="menuS"><h4>As operações</h4></div>
    </div>
    <div class="container" id="C-numeros">
       
    </div>

<script src="/js/numeros-operações/script.js"></script>
</body>
</html>